@import "pdf_viewer";

$toolbarHeight: 32px;
$toolbarPadY: 8px;
$toolbarPadX: 32px;

.pdfViewer.pdfViewerWrapper {
  display: flex;
  flex-direction: column;

  overflow: auto;

  > .viewerContainer {
    margin-bottom: $toolbarHeight;
  }
}

.pdfToolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding: $toolbarPadY $toolbarPadX;

  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-between;

  line-height: $toolbarHeight;
  box-sizing: content-box;

  height: $toolbarHeight;
  min-width: 650px;

  background: #333333;
  color: white;

  .pdfToolbar-left, .pdfToolbar-right {
    display: flex;
    flex-direction: row;
  }

  label {
    padding: 0 4px;
  }
}

.pdfToolbar-group {
  display: flex;
  flex-direction: row;
}

.pdfButton, .pdfInput {
  color: white;
  border: 1px solid white;
  background: #333333;
}

.pdfButton {
}

.pdfInput {
}