form.pdf-sheet {
  input, label {
    border: 0;
    padding: 0;
    margin: 0;
  }

  input[type=number] {
    min-width: 20px;
    height: 24px;
    background: rgba(0, 0, 0, 0.05);
    padding: 1px 3px;
    margin: 0;
    color: #191813;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    line-height: inherit;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}

$row-height: 2rem;

form.pdf-sheet {
  div.field-row, div.button-row {
    position: relative;
    display: flex;
    height: $row-height;

    border-bottom: 1px solid black;

    input, label, button {
      height: 100%;
      line-height: $row-height;
    }
    input[type=checkbox] {
      height: $row-height - 0.5rem;
      line-height: $row-height - 0.5rem;
      margin: 0.25rem;
      text-align: right;
    }
    label {
      text-transform: uppercase;
      font-weight: bold;
    }
    button {
      border: 0;
    }
    input {
      padding: 0 4px;
    }
  }

  div.field-row.expand, div.button-row.expand {
    justify-content: space-between;

    input {
      flex-shrink: 1;
      flex-grow: unset;
    }
    label {
      flex-shrink: unset;
      flex-grow: 1;
    }
  }

  div.field-row {
    label {
      flex-shrink: 1;
      white-space: nowrap;
      padding-right: 4px;
    }
    input {
      flex-grow: 1;
    }
  }

  div.button-row {
    div.field-row {
      flex-grow: 1;
    }
    button {
      flex-shrink: 1;
      width: auto;
      white-space: nowrap;
    }
    p {
      margin: 4px;
      text-align: justify;
    }
  }
  div.button-row.taller {
    height: $row-height*1.5;
  }
}