:root {
    --toolbar-icon-opacity: 0.7;
    --doorhanger-icon-opacity: 0.9;
    --main-color: rgba(12, 12, 13, 1);
    --body-bg-color: rgba(237, 237, 240, 1);
    --errorWrapper-bg-color: rgba(255, 74, 74, 1);
    --progressBar-color: rgba(10, 132, 255, 1);
    --scrollbar-color: auto;
    --scrollbar-bg-color: auto;
    --sidebar-bg-color: rgba(245, 246, 247, 1);
    --toolbar-bg-color: rgba(249, 249, 250, 1);
    --toolbar-border-color: rgba(204, 204, 204, 1);
    --button-hover-color: rgba(221, 222, 223, 1);
    --toggled-btn-bg-color: rgba(0, 0, 0, 0.3);
    --dropdown-btn-bg-color: rgba(215, 215, 219, 1);
    --separator-color: rgba(0, 0, 0, 0.3);
    --field-color: rgba(6, 6, 6, 1);
    --field-bg-color: rgba(255, 255, 255, 1);
    --field-border-color: rgba(187, 187, 188, 1);
    --findbar-nextprevious-btn-bg-color: rgba(227, 228, 230, 1);
    --outline-color: rgba(0, 0, 0, 0.8);
    --outline-hover-color: rgba(0, 0, 0, 0.9);
    --outline-active-color: rgba(0, 0, 0, 0.08);
    --outline-active-bg-color: rgba(0, 0, 0, 1);
    --sidebaritem-bg-color: rgba(0, 0, 0, 0.15);
    --doorhanger-bg-color: rgba(255, 255, 255, 1);
    --doorhanger-border-color: rgba(12, 12, 13, 0.2);
    --doorhanger-hover-color: rgba(237, 237, 237, 1);
    --doorhanger-separator-color: rgba(222, 222, 222, 1);
    --overlay-button-bg-color: rgba(12, 12, 13, 0.1);
    --overlay-button-hover-color: rgba(12, 12, 13, 0.3);
}
