:root {
    --toolbar-icon-opacity: 0.7;
    --doorhanger-icon-opacity: 0.9;

    --main-color: rgba(12, 12, 13, 1);
    --body-bg-color: rgba(237, 237, 240, 1);
    --errorWrapper-bg-color: rgba(255, 74, 74, 1);
    --progressBar-color: rgba(10, 132, 255, 1);
    --scrollbar-color: auto;
    --scrollbar-bg-color: auto;

    --sidebar-bg-color: rgba(245, 246, 247, 1);
    --toolbar-bg-color: rgba(249, 249, 250, 1);
    --toolbar-border-color: rgba(204, 204, 204, 1);
    --button-hover-color: rgba(221, 222, 223, 1);
    --toggled-btn-bg-color: rgba(0, 0, 0, 0.3);
    --dropdown-btn-bg-color: rgba(215, 215, 219, 1);
    --separator-color: rgba(0, 0, 0, 0.3);
    --field-color: rgba(6, 6, 6, 1);
    --field-bg-color: rgba(255, 255, 255, 1);
    --field-border-color: rgba(187, 187, 188, 1);
    --findbar-nextprevious-btn-bg-color: rgba(227, 228, 230, 1);
    --outline-color: rgba(0, 0, 0, 0.8);
    --outline-hover-color: rgba(0, 0, 0, 0.9);
    --outline-active-color: rgba(0, 0, 0, 0.08);
    --outline-active-bg-color: rgba(0, 0, 0, 1);
    --sidebaritem-bg-color: rgba(0, 0, 0, 0.15);
    --doorhanger-bg-color: rgba(255, 255, 255, 1);
    --doorhanger-border-color: rgba(12, 12, 13, 0.2);
    --doorhanger-hover-color: rgba(237, 237, 237, 1);
    --doorhanger-separator-color: rgba(222, 222, 222, 1);
    --overlay-button-bg-color: rgba(12, 12, 13, 0.1);
    --overlay-button-hover-color: rgba(12, 12, 13, 0.3);

    --loading-icon: url(images/loading.svg);
    --treeitem-expanded-icon: url(images/treeitem-expanded.svg);
    --treeitem-collapsed-icon: url(images/treeitem-collapsed.svg);
    --toolbarButton-menuArrow-icon: url(images/toolbarButton-menuArrow.svg);
    --toolbarButton-sidebarToggle-icon: url(images/toolbarButton-sidebarToggle.svg);
    --toolbarButton-secondaryToolbarToggle-icon: url(images/toolbarButton-secondaryToolbarToggle.svg);
    --toolbarButton-pageUp-icon: url(images/toolbarButton-pageUp.svg);
    --toolbarButton-pageDown-icon: url(images/toolbarButton-pageDown.svg);
    --toolbarButton-zoomOut-icon: url(images/toolbarButton-zoomOut.svg);
    --toolbarButton-zoomIn-icon: url(images/toolbarButton-zoomIn.svg);
    --toolbarButton-presentationMode-icon: url(images/toolbarButton-presentationMode.svg);
    --toolbarButton-print-icon: url(images/toolbarButton-print.svg);
    --toolbarButton-openFile-icon: url(images/toolbarButton-openFile.svg);
    --toolbarButton-download-icon: url(images/toolbarButton-download.svg);
    --toolbarButton-bookmark-icon: url(images/toolbarButton-bookmark.svg);
    --toolbarButton-viewThumbnail-icon: url(images/toolbarButton-viewThumbnail.svg);
    --toolbarButton-viewOutline-icon: url(images/toolbarButton-viewOutline.svg);
    --toolbarButton-viewAttachments-icon: url(images/toolbarButton-viewAttachments.svg);
    --toolbarButton-search-icon: url(images/toolbarButton-search.svg);
    --findbarButton-previous-icon: url(images/findbarButton-previous.svg);
    --findbarButton-next-icon: url(images/findbarButton-next.svg);
    --secondaryToolbarButton-firstPage-icon: url(images/secondaryToolbarButton-firstPage.svg);
    --secondaryToolbarButton-lastPage-icon: url(images/secondaryToolbarButton-lastPage.svg);
    --secondaryToolbarButton-rotateCcw-icon: url(images/secondaryToolbarButton-rotateCcw.svg);
    --secondaryToolbarButton-rotateCw-icon: url(images/secondaryToolbarButton-rotateCw.svg);
    --secondaryToolbarButton-selectTool-icon: url(images/secondaryToolbarButton-selectTool.svg);
    --secondaryToolbarButton-handTool-icon: url(images/secondaryToolbarButton-handTool.svg);
    --secondaryToolbarButton-scrollVertical-icon: url(images/secondaryToolbarButton-scrollVertical.svg);
    --secondaryToolbarButton-scrollHorizontal-icon: url(images/secondaryToolbarButton-scrollHorizontal.svg);
    --secondaryToolbarButton-scrollWrapped-icon: url(images/secondaryToolbarButton-scrollWrapped.svg);
    --secondaryToolbarButton-spreadNone-icon: url(images/secondaryToolbarButton-spreadNone.svg);
    --secondaryToolbarButton-spreadOdd-icon: url(images/secondaryToolbarButton-spreadOdd.svg);
    --secondaryToolbarButton-spreadEven-icon: url(images/secondaryToolbarButton-spreadEven.svg);
    --secondaryToolbarButton-documentProperties-icon: url(images/secondaryToolbarButton-documentProperties.svg);

    // Full css is allowed - but it is recommended to stay away from anything that changes layout.
    // Open up the inspector and have fun! :)
}

#viewerContainer {
    &::-webkit-scrollbar {
        background: var(--doorhanger-bg-color);
    }
    &::-webkit-scrollbar:vertical,
    &::-webkit-scrollbar:horizontal {
        border-left: 1px solid var(--toolbar-border-color);
    }
    &::-webkit-scrollbar-thumb {
        -webkit-transition: background-color 0.2s;
        transition: background-color 0.2s;
        background: rgba(242, 242, 242, 1);
    }
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(200, 200, 200, 1);
    }
}

#viewerContainer {
    --g-red: #d04b36;
    --g-orange: #e36511;
    --g-yellow: #ffba00;
    --g-green: #00b180;
    --g-blue: #147aab;
    --g-indigo: #675997;
    background-image: linear-gradient(
        var(--g-red) 0%,
        var(--g-red) 16.6666%,
        var(--g-orange) 16.6666%,
        var(--g-orange) 33.333%,
        var(--g-yellow) 33.333%,
        var(--g-yellow) 50%,
        var(--g-green) 50%,
        var(--g-green) 66.6666%,
        var(--g-blue) 66.6666%,
        var(--g-blue) 83.3333%,
        var(--g-indigo) 83.3333%,
        var(--g-indigo) 100%
    );
}
