<div class="pdfViewer pdfViewerWrapper">

    <div class="viewerContainer"></div>

    <div class="pdfToolbar">
        <div class="pdfToolbar-left">
            <div class="pdfToolbar-group">
                <label>Page</label>
                <button name="prev" class="pdfButton">&lt;</button>
                <input name="page" class="pdfInput" type="number"/>
                <button name="next" class="pdfButton">&gt;</button>
            </div>

            <div class="pdfToolbar-group">
                <label>Zoom</label>
                <button name="zoom-inc" class="pdfButton">+</button>
                <button name="zoom-dec" class="pdfButton">-</button>
                <label>100%</label>
            </div>
        </div>

        <div class="pdfToolbar-right">
            <div class="pdfToolbar-group">
                <label>Show&nbsp;To</label>
                <button class="pdfButton">Players</button>
                <button class="pdfButton">GM</button>
            </div>
        </div>
    </div>
</div>